*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#main-container{
   display: flex;
   align-content: center;
   width: 100vw;
   height: 100vh;
   /* height: 800px; */
   margin: 0 auto;
   background: darkslategrey;
}
/* ============= Map Style ==============*/
#map{
   width: 70%;
   min-height: 600px;
}
/* ================= LIST STYLE ================= */
#list-container{
	background:red;
   width: 30%;
   overflow: scroll;
	/* height:500px; */
}

.risto-item{
   display: flex;
   align-items: center;
   width:100%;
   margin: 0 auto;
   margin-bottom: .2em;
   padding: .5em;
	background:gray;
}

.risto-descr{
   color: white;
   flex-basis: 80%;
   /* background: blue; */
}
.risto-descr p{
   padding: .2em;
}
.risto-title{
   text-align: left;
   font-size: 1.5em;
   flex-basis: 70%;
	/* background: orange; */
}

.risto-address{
   text-align: left;
   /* background: yellow; */
}

.risto-stars{
   font-size: 1.6em;
   background:white;
   flex-basis: 20%;
   text-align: center;
}