*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#main-container{
   display: flex;
   align-content: center;
   width: 100vw;
   height: 100vh;
   /* height: 800px; */
   margin: 0 auto;
   background: darkslategrey;
}
/* ============= Map Style ==============*/
#map{
   width: 70%;
   min-height: 600px;
}
/* ================= LIST STYLE ================= */
#list-container::-webkit-scrollbar {
    width: .5em;
    background: #4b1212;
}
#list-container::-webkit-scrollbar-thumb{
    background: #917a2e;
}
#right-container{
    width: 30%;
    height: 100%;
    overflow: hidden;
}
#list-container{
	background:#4c1010;
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   box-sizing: content-box;
	/* height:500px; */
}

.risto-item{
   display: flex;
   align-items: center;
   width:100%;
   height: 110px;
   margin: 0 auto;
   margin-bottom: .1em;
   padding: .5em;
   background:rgb(75, 18, 18);
   box-shadow: 0px 2px 5px #000;
}

.risto-descr{
   color: rgb(179, 163, 72);
   flex-basis: 80%;
   height: 100%;
   border-right: 1px solid white;
   /* background: blue; */
}

.risto-title{
   text-align: left;
   font-size: 1.5em;
   flex-basis: 70%;
   padding-top: .5em;
	/* background: orange; */
}

.risto-address{
   color: rgb(248, 248, 245);
   text-align: left;

   /* background: yellow; */
}

.risto-stars{
   color: rgb(255, 255, 0);
   text-shadow: 1px 2px 4px #000;
   box-shadow: 1px 2px 4px #000;
   font-size: 1.4em;
   background:rgb(145, 122, 46);
   flex-basis: 20%;
   padding: .2em;
   border-radius: 0 5px 5px 0;
   text-align: center;
}
.selected{
   background:rgb(78, 57, 18);

}
/* ============== Show Details POPUP ============ */
.cont-detail{
   width: 100%;
    min-height: 100px;
    border-radius: 5px;
    color: #640000;
}
.cont-detail h2{
   text-align: center;
   padding: .5em;
   font-size: 2em;
}
.details{
	display:flex;	
}
.photo{
   flex: 40%;
   padding-left: .5em;;
}
.photo img{
   width: 100%;
   height: 150px;
   border-radius: 5px;
   padding: .1em;
   background: #4b1212;
   object-fit: cover;
   transition: all .3s ease-in-out;
}
.photo img:hover{
   transform: scale(1.5) translateX(100px);
    box-shadow: 0px -3px 10px #4b1212;
}
.description-risto{
   flex: 50%;
   padding: .5em;
   padding-left: 1.5em;
}
.description-risto p{
   font-size: 1.2em;
   font-weight: 500;
   margin-bottom: 1em;
}
.link{
   color: white;
   font-size: 1.2em;
   width: 100%;
   background: #460202;
   margin-top: 1em;
   padding: .3em;
   text-align: center;
   border-radius: 0px 0px 5px 5px;
   box-shadow: 0px -2px 4px #000;
}
.link a{
   text-decoration:underline;
   color: orange;
}
.website{
   color: white;
}
/* ========== Litle info ======= */
.litle-info{
   width: 100%;
   color: #4b1212;
}
.litle-name{
   text-align: center;
    font-size: 1.6em;
    padding-bottom: .3em;
}
.litle-desc{
   display: flex;
}
.litle-img{
   flex: 60%;
}

.litle-img img{
   width: 100% !important;
   max-height: 100px;
   object-fit: cover;
}
.litle-ratings{
   flex: 40%;
   font-size: 2.5em;
   padding-left: .5em;
}
.litle-ratings p{
   text-shadow: 0px 1px 1px #000;
}
.litle-open{
   font-size: .7em;
}
/* =============Legend============= */
#inputBtn{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
}
#legend {
    position: absolute;
    left: 3em;
    bottom: 3em;
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;

  }

/* ==============  UI   ================ */
button:focus , select:focus{
    outline: none;
}
#ui-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #460202;
}

#btnMarks{
    width: 50%;
    padding: .7em;
    margin-top: .5em;
    margin-bottom: .5em;
    background: #e64133;
    border: none;
    /* border-bottom: 2px solid green; */
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .1s ease-in-out;
}
#btnMarks:active{
    transform: translateY(2px);
}
#btnMarks.mark-on{
    background: #e0b31e !important;
    text-shadow: 0px 2px 5px #000;

}
#ui-sort{
    display: flex;
}
#ui-sort *{
    flex: 1;
    padding: .2em;
}
#ui-sort .btn{
    background: #e64133;
    border: none;
    color: #ffff0e;
}
#sort-elements{
    padding: .5em;
    background: #e64133;
    border-right: 1px solid #4b1212;
}
#sort-elements label{
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 2px 4px #000;
}
#ratingSel{
    width: 100%;
    background: #e64133;
    border: none;
    color: #ffff0e;
    font-size: 1em;
}
#ui-sort button.asc{
    border-right:1px solid #460202;
}
#more-container{
    position: relative;
    z-index: 100;
    width: 100%;
    padding-bottom: .1em;
    background: #4b1212;
}
#more{
    background: #950606;
    color: #f0bd14;
    text-transform: capitalize;
    padding: 1em;
    font-size: 1.1em;
    width: 100%;
    border: none;
    box-shadow: 0px 3px 4px #000;
    transition: all .2s ease-in-out;
}
#more:hover{
    box-shadow: 0px 4px 7px #000;
}
#more:active{
    box-shadow: none;
}
#more:disabled{
    font-size: .9em;
    background: #4b1212;
    color: #917a2e;
    box-shadow: none;
    border-bottom: 2px solid #460202;
}